/* 5 additional rules */

#om-navbar-main {
    padding-left: 3em;
    padding-right: 3em;
}

#cv-title {
    padding-top: 0.5em;
    padding-bottom: 1em;
    text-align: center;
}


#textbody {
    padding-left: 3em;
}
